.report-container {
  scrollbar-gutter: stable;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;

  .download-btn {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .report {
    line-height: 1.4;
    transition: 0.3s ease;
    height: calc(100% - 55px);
    position: relative;
  }

  .report-meta {
    max-width: 50rem;
    margin: 20px auto 0;
    padding-bottom: 20px;
  
    p.report-summary,
    p.table-summary {
      margin-bottom: 0;
      text-align: center;
      
      span {
        display: inline-block;
        text-align: left;
        }
        }
        
    p.report-summary {
      padding: 0 1.25rem;
    }

    .report-description,
    .report-abstract {
      margin-top: 13px;
  
      button.t-header {
        font-size: 13px !important;
        padding: 5px 1.25rem !important;
        min-height: 10px !important;
      }
  
      .t-content {
        padding: 10px 1.25rem !important;
      }
  
      .markdown-report-item {
        padding: 0 !important;
        border: none !important;
      }
    }
  }
}
