.report {
  background-color: #f9f9f9;
  line-height: 1.4;
  transition: 0.3s ease;
  height: calc(100% - 55px);
  position: relative;
}

.download-btn {
  position: absolute;
  top: 15px;
  right: 10px;
}

.report-content {
  scrollbar-gutter: stable;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}