@use "sass:color";
@use "../settings/baseColors";
@use "../settings/fonts";

html,
html a,
body {
    -webkit-font-smoothing: antialiased;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
}

::selection {
    background: rgb(0 128 128 / 20%);
}

body {
    color: #111;
    font-family: fonts.$font-primary;
    font-size: 14px;
    line-height: 1.6;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fonts.$font-primary;
    font-variation-settings: 'wght' 600;

    a {
        font-family: fonts.$font-primary;
    }

    small {
        color: color.adjust(baseColors.$default-dark, $lightness: 5%);
        font-weight: 300;
    }
}

p {
    font-family: fonts.$font-primary;
    line-height: 1.9;
}

.lead {
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: baseColors.$default-info;

    &:hover,
    &:focus {
        color: color.adjust(baseColors.$default-info, $lightness: -10%);
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &.text-gray {
        &:hover,
        &:focus,
        &.active {
            color: baseColors.$default-dark !important;
        }
    }
}

:focus {
    outline: none;
}

hr {
    border-top: 1px solid baseColors.$border-color;
}

a.btn {
    color: #fff;
}

a.btn:hover {
    color: #fff;
}

.btn-color {
    color: #fff;
}

.btn-color:hover {
    color: #fff;
}
