html,
html a,
body {
    -webkit-font-smoothing: antialiased;
}

a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::selection {
    background: rgb(0 128 128 / 20%);
}

body {
    font-family: $font-primary;
    font-size: 14px;
    color: #111;
    line-height: 1.5;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-variation-settings: 'wght' 600;

    a {
        font-family: $font-primary;
    }

    small {
        font-weight: 300;
        color: lighten($default-dark, 5%);
    }
}

p {
    font-family: $font-primary;
    line-height: 1.9;
}

.lead {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $default-info;

    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($default-info, 10%);
    }

    &:focus {
        outline: none;
    }

    &.text-gray {
        &:hover,
        &:focus,
        &.active {
            color: $default-dark !important;
        }
    }
}

:focus {
    outline: none;
}

hr {
    border-top: 1px solid $border-color;
}

a.btn {
    color: #fff;
}

a.btn:hover {
    color: #fff;
}

.btn-color {
    color: #fff;
}

.btn-color:hover {
    color: #fff;
}
