<ul class="nav-right">
    <li class="notifications dropdown">
        <a href="" class="dropdown-toggle " id="btnNotification" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="ti-bell"></i>
        </a>

        <ul class="dropdown-menu" aria-labelledby="btnNotification">
            <li class="pX-20 pY-15 bdB">
                <i class="ti-bell pR-10"></i>
                <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
            </li>
            <li>
                <!--TODO add history-->
            </li>
        </ul>
    </li>
</ul>
