<ul class="nav-right">
    <li class="notifications dropdown">
        <button class="dropdown-toggle" id="btnNotification" aria-expanded="false" (click)="newNotifications=0; onClick()" [tuiDropdown]="notificationContent" [tuiDropdownManual]="open" (tuiActiveZoneChange)="onActiveZone($event)">
            <i class="counter" *ngIf="newNotifications!==0">{{ newNotifications }}</i>
            <i class="ti-bell"></i>
        </button>
        <ng-template #notificationContent>
            <ul class="dropdown-menu" aria-labelledby="btnNotification">
                <li class="pX-20 pY-15 bdB">
                    <i class="ti-bell pR-10"></i>
                    <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
                </li>
                <mat-list-item *ngFor="let notification of notificationLog.concat().reverse(); let i = index;">
                    <div matListItemTitle>{{ notification.status }}</div>
                    <div matListItemLine style="color: gray">{{ notification.correlation_uuid }}</div>
                    <div matListItemLine style="color: gray">{{ moment(notification.timestamp).format('MMMM Do YYYY, HH:mm:ss Z') }}</div>
                </mat-list-item>
            </ul>
        </ng-template>
    </li>
</ul>
