.plotly-chart-artifact-item {
    aspect-ratio: 3 / 2;
    margin: 0 auto;
    max-width: 50rem;

    ::ng-deep {
        .modebar-group {
            display: flex !important;
        }
    }
}

.in-app-full {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 5px 5px 20px 25px rgba(0, 0, 0, 0.35);
    height: calc(100vh - 6.071rem) !important;
    overflow: hidden;
    padding: 0.714rem 0;
    position: fixed;
    width: 99vw !important;
    z-index: 9999;

    ::ng-deep {
        .plot-container.plotly {
            overflow: hidden;

            .modebar-group {
                display: flex;
            }

            .modebar {
                margin-right: 1.071rem;
            }
        }
    }
}
