<div *ngIf="legendData" class="legend-container">
    <h3 class="title">
        {{ legendData.title }}
        <span *ngIf="legendData.unit !== undefined">({{ legendData.unit }})</span>
    </h3>
    <ng-scrollbar orientation="vertical">
        <div *ngIf="legendData.legend_type === 'DISCRETE'" class="discrete-legend">
            <ul>
                <li *ngFor="let item of discreteItems(); trackBy: trackByFn">
                    <span [style.backgroundColor]="item.color" class="legend-color-box"></span>
                    {{ item.name }}
                </li>
            </ul>
        </div>
        <div *ngIf="legendData.legend_type === 'CONTINUOUS'" class="continuous-legend">
            <div #legendWrapper class="vertical-legend-wrapper">
                <canvas id="canvas_{{ legendData.legend_data.cmap_name }}" width="25" height="200"></canvas>
                <div #ticksContainer class="ticks">
                    <span
                        *ngFor="let item of continuousItems(); trackBy: trackByFn"
                        [style.bottom]="item.position + '%'">
                        {{ item.name }}
                    </span>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</div>
