@if (legendData) {
    <div class="legend-container">
        <h3 class="title">
            {{ legendData.title }}
            @if (legendData.unit !== undefined) {
                <span>({{ legendData.unit }})</span>
            }
        </h3>
        <ng-scrollbar orientation="vertical">
            @if (legendData.legend_type === 'DISCRETE') {
                <div class="discrete-legend">
                    <ul>
                        @for (item of discreteItems(); track trackByFn($index, item)) {
                            <li>
                                <span [style.backgroundColor]="item.color" class="legend-color-box"></span>
                                {{ item.name }}
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (legendData.legend_type === 'CONTINUOUS') {
                <div class="continuous-legend">
                    <div #legendWrapper class="vertical-legend-wrapper">
                        <canvas [id]="getCanvasId(legendData.legend_data.cmap_name)" width="25" height="200"></canvas>
                        <div #ticksContainer class="ticks">
                            @for (item of continuousItems(); track trackByFn($index, item)) {
                                <span [style.bottom]="item.position + '%'">
                                    {{ item.name }}
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        </ng-scrollbar>
    </div>
}
