@if (legendData) {
    <div class="legend-container">
        <h3 class="title">
            {{ legendData.title }}
        </h3>
        <ng-scrollbar orientation="vertical">
            @if (legendData.legend_type === 'DISCRETE') {
                <div class="discrete-legend">
                    <ul>
                        @for (item of discreteItems(); track trackByFn($index, item)) {
                            <li [class.dimmed]="!item.visible">
                                @if (onHiddenCategoriesChange) {
                                    <input
                                        type="checkbox"
                                        [id]="getCategoryInputId(item.name)"
                                        [checked]="item.visible"
                                        (change)="toggleCategory(item.name)"
                                        class="legend-checkbox" />
                                    <label
                                        [for]="getCategoryInputId(item.name)"
                                        style="--legend-color: {{ item.color }}"
                                        >{{ item.displayName }}</label
                                    >
                                } @else {
                                    <span style="--legend-color: {{ item.color }}" class="static-legend-item">
                                        {{ item.displayName }}
                                    </span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (legendData.legend_type === 'CONTINUOUS') {
                <div class="continuous-legend">
                    <canvas #legendCanvas width="25" height="200"></canvas>
                    <div #ticksContainer class="ticks">
                        @for (item of continuousItems(); track trackByFn($index, item)) {
                            <div [style.bottom]="item.position + '%'">
                                <span>{{ item.displayName }}</span>
                            </div>
                        }
                    </div>
                </div>
            }
        </ng-scrollbar>
    </div>
}
