.tour-choice-dialog {
    padding: 1.429rem 1.786rem;

    h2 {
        color: #333;
        margin: 0;
    }

    .close-dialog {
        align-items: center;
        background: #fff;
        border: none;
        border-radius: 50%;
        color: #666;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 0.714rem;
        position: absolute;
        right: 0.357rem;
        top: 0.929rem;

        :hover {
            color: #111;
        }
    }

    .dialog-content {
        p {
            color: #333;
            line-height: 1.6;
        }

        .choice-buttons {
            align-items: center;
            background-color: #ebebeb;
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0.714rem 0 0.714rem -1.786rem;
            padding: 1.286rem 0;
            width: 39.286rem;
        }

        .guest-tour-note {
            color: #666 !important;
            margin: 0.714rem 0 0 0 !important;
            text-align: center;
        }
    }
}
