<div class="tour-choice-dialog">
    <h2>{{ 'walkthrough.tourChoiceDialog.title' | transloco }}</h2>
    <button (click)="closeDialog()" class="close-dialog">
        <svg lucideX size="25"></svg>
    </button>

    <div class="dialog-content">
        <p>
            {{ 'walkthrough.tourChoiceDialog.description' | transloco }}
        </p>

        <div class="choice-buttons">
            <button class="btn-primary btn-withtext--after" (click)="onLoginClick()">
                <svg lucideLogIn size="20"></svg>
                {{ 'walkthrough.tourChoiceDialog.loginButton' | transloco }}
            </button>

            <button class="btn-alt btn-withtext--after" (click)="onGuestTourClick()">
                <svg lucidePlay size="20"></svg>
                {{ 'walkthrough.tourChoiceDialog.guestTourButton' | transloco }}
            </button>
        </div>

        <p class="guest-tour-note">
            <small>{{ 'walkthrough.tourChoiceDialog.guestNote' | transloco }}</small>
        </p>
    </div>
</div>
