<div class="tour-choice-dialog">
    <h2>Let's get started!</h2>
    <button (click)="closeDialog()" class="close-dialog">
        <i-lucide [img]="CircleX" size="25"></i-lucide>
    </button>

    <div class="dialog-content">
        <p>
            To get the most out of this walkthrough, we recommend logging in first. However, you can also try a shorter
            guest tour to see what the platform offers.
        </p>

        <div class="choice-buttons">
            <button class="btn-primary btn-withtext" (click)="onLoginClick()">
                <i-lucide [img]="LogIn" size="20"></i-lucide>
                Login for Full Tour
            </button>

            <button class="btn-alt btn-withtext" (click)="onGuestTourClick()">
                <i-lucide [img]="Play" size="20"></i-lucide>
                Try Guest Tour
            </button>
        </div>

        <p class="guest-tour-note">
            <small>The guest tour provides a preview of what the platform offers, utilising demo data.</small>
        </p>
    </div>
</div>
