@use 'spec/tools/rem' as *;

.tour-choice-dialog {
    padding: rem(20) rem(25);

    h2 {
        color: #333;
        margin: 0;
    }

    .close-dialog {
        align-items: center;
        background: #fff;
        border: none;
        border-radius: 50%;
        color: #666;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: rem(10);
        position: absolute;
        right: rem(5);
        top: rem(13);

        :hover {
            color: #111;
        }
    }

    .dialog-content {
        p {
            color: #333;
            line-height: 1.6;
        }

        .choice-buttons {
            align-items: center;
            background-color: #ebebeb;
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: rem(10) 0 rem(10) rem(-25);
            padding: rem(18) 0;
            width: rem(550);
        }

        .guest-tour-note {
            color: #666 !important;
            margin: rem(10) 0 0 0 !important;
            text-align: center;
        }
    }
}
