<div class="plugin-catalog" [ngClass]="{ 'is-loading': loading }">
    <input id="catalog-toggle" type="checkbox" #catalogToggle checked="checked" />
    <div id="catalog-header">
        <h3 class="plugin-title">{{ 'pluginCatalog.title' | transloco }}</h3>
        <label for="catalog-toggle">
            <span id="catalog-toggle-burger"></span>
        </label>
    </div>
    <div class="plugins-list">
        @if (loading) {
            <div class="loading-state">
                <ul>
                    @for (i of [1, 2, 3, 4, 5]; track i) {
                        <li class="plugin-card">
                            <div class="plugin-card__icon">
                                <img src="assets/images/plugin-icons/loading.png" alt="Loading..." />
                            </div>
                            <div class="plugin-card__text">
                                <h3>{{ 'pluginCatalog.loading' | transloco }}</h3>
                                <span>N/A</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }

        @if (!loading) {
            <ng-scrollbar visibility="hover" orientation="vertical" position="invertY">
                <ul>
                    @for (card of cards; track card; let i = $index) {
                        <li
                            class="plugin-card"
                            (click)="showPlugin(card)"
                            (keydown)="showPlugin(card)"
                            [ngClass]="{
                                'plugin-card-highlight': activeCard === card,
                                'plugin-card-offline': !card.online
                            }"
                            tabindex="0"
                            [tp]="tpl"
                            tpPlacement="right">
                            <div class="plugin-card__icon">
                                <img [src]="card.icon" alt="{{ card.icon_credit }}" (error)="onImageError($event)" />
                                <div class="plugin-card__icon-text">
                                    <h5>{{ card.name }}</h5>
                                </div>
                            </div>
                            <div class="plugin-card__text">
                                <h3>{{ card.name }}</h3>
                                @if (card.version && card.library_version) {
                                    <span>ver. {{ card.version }}/{{ card.library_version }}</span>
                                }
                                @if (!(card.version && card.library_version)) {
                                    <span>ver. 0.0.1/0.0.1</span>
                                }
                            </div>
                            <ng-template #tpl>
                                @if (card.teaser) {
                                    <span>{{ card.teaser }}</span>
                                }
                            </ng-template>
                        </li>
                    }
                </ul>
            </ng-scrollbar>
        }
    </div>
</div>
