.plugin-catalog {
    backdrop-filter: blur(5px);
    background-image: linear-gradient(30deg, rgb(189 195 199 / 95%), rgb(44 62 80 / 85%));
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
    color: #fff;
    margin-right: 0.5vw;
    overflow: hidden;
    padding-top: 15px;
    position: relative;

    input[type='checkbox'] {
        display: none;
    }

    &.is-loading {
        animation: 1.5s shine linear infinite;
        backdrop-filter: blur(5px);
        background-image: linear-gradient(
            92deg,
            rgb(189 195 199 / 95%) 8%,
            rgba(231 231 231 / 5%) 18%,
            rgb(189 195 199 / 95%) 33%
        );
        background-size: 200% 100%;
    }

    #catalog-toggle:checked {
        ~ .plugins-list {
            width: 120px;
        }

        ~ #catalog-header .plugin-title {
            opacity: 0;
            pointer-events: none;
        }

        ~ #catalog-header label[for='catalog-toggle'] {
            left: 50%;
            transform: translate(-50%);
        }

        ~ #catalog-header #catalog-toggle-burger {
            background: #fff;

            &:before,
            &:after {
                background: #eee;
                transform: translate(0, 0) rotate(0deg);
                width: 14px;
            }
        }

        &:hover ~ #catalog-header #catalog-toggle-burger {
            &:before,
            &:after {
                width: 18px;
            }
        }

        ~ .plugins-list {
            .plugin-card {
                width: 107.5px;

                .plugin-card__icon {
                    img {
                        transform: translateY(-12.5px) scale(0.65);
                    }

                    .plugin-card__icon-text {
                        opacity: 1;
                        transition-delay: 0.5s;
                    }
                }

                .plugin-card__text {
                    opacity: 0;
                    transition: none;
                }
            }
        }
    }

    #catalog-header {
        align-items: center;
        display: flex;
        height: 50px;
        padding: 0 20px;
        position: relative;

        h3.plugin-title {
            margin: 10px 0;
            position: absolute;
            text-wrap: nowrap;
            transition: opacity 0.25s ease-in-out;
        }

        label[for='catalog-toggle'] {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 100%;
            justify-content: center;
            position: absolute;
            right: 10px;
            width: 40px;
        }

        #catalog-toggle-burger {
            background-color: transparent;
            border-radius: 99px;
            display: flex;
            height: 2px;
            justify-content: center;
            position: relative;
            transition: background-color 0.25s ease-in-out;
            width: 18px;

            &:before,
            &:after {
                background: #eee;
                border-radius: 99px;
                content: '';
                height: 2px;
                position: absolute;
                top: -6px;
                transform: translate(2px, 9px) rotate(40deg);
                transition:
                    transform 0.25s ease-in-out,
                    width 0.1s ease-in-out;
                width: 10px;
            }

            &:after {
                top: 6px;
                transform: translate(2px, -9px) rotate(-40deg);
            }
        }
    }

    ng-scrollbar {
        max-height: calc(100vh - 150px - 1vw);

        ::ng-deep {
            .ng-scroll-content {
                padding-left: 2.5px;
            }
        }
    }
}

.plugins-list {
    padding-left: 10px;
    transition: width 0.25s ease-in-out;
    width: 240px;

    ul {
        padding: 10px 0 0 0;
    }

    .loading-state {
        pointer-events: none;

        ul {
            padding-left: 2.5px;

            li {
                .plugin-card__text {
                    h3 {
                        background: rgba(255, 255, 255, 0.6);
                        color: transparent;
                        margin-bottom: 5px;
                        width: 150%;
                    }

                    span {
                        background: rgba(255, 255, 255, 0.6);
                        color: transparent;
                        width: 100%;
                    }
                }
            }
        }
    }

    .plugin-card {
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        height: 95px;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        transition: width 0.25s ease-in-out;
        width: 227.5px;

        .plugin-card__icon {
            background-color: #fafafa;
            border: 2px solid rgba(255, 255, 255, 0.85);
            border-radius: 5px;
            padding: 10px;
            position: relative;

            img {
                aspect-ratio: 1;
                filter: saturate(1.5);
                height: 100%;
                transition: transform 0.25s ease-in-out 0.25s;
                width: 60px;
            }

            .plugin-card__icon-text {
                align-items: center;
                bottom: 0;
                display: flex;
                height: 30px;
                justify-content: center;
                left: 0;
                opacity: 0;
                position: absolute;
                transition: opacity 0.25s ease-in-out;
                width: 100%;

                h5 {
                    color: #333;
                    display: -webkit-box;
                    line-height: 1.2;
                    margin: 0;
                    width: 100%;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }

        .plugin-card__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            transition: opacity 0.3s ease-in-out 0.3s;

            h3 {
                font-size: small;
                margin: 0;
            }

            span {
                font-size: smaller;
            }
        }

        &.plugin-card-highlight,
        &:hover {
            background-color: #f2f2f2;
            color: #111;

            &:before,
            &:after {
                border-radius: 50%;
                bottom: 100%;
                box-shadow: 18px 18px #f2f2f2;
                content: '';
                height: 32px;
                pointer-events: none;
                position: absolute;
                right: 0;
                width: 32px;
            }

            &:after {
                box-shadow: 18px -18px #f2f2f2;
                top: 100%;
            }
        }

        &:not(.plugin-card-highlight):hover {
            background-color: #cbcbcb;

            &:before,
            &:after {
                box-shadow: 18px 18px #cbcbcb;
            }

            &:after {
                box-shadow: 18px -18px #cbcbcb;
            }
        }
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
