<div class="plugin-catalog" [ngClass]="{ 'is-loading': loading }">
    <input id="catalog-toggle" type="checkbox" #catalogToggle checked="checked" />
    <div id="catalog-header">
        <h3 class="plugin-title">Assessment Tools</h3>
        <label for="catalog-toggle">
            <span id="catalog-toggle-burger"></span>
        </label>
    </div>
    <div class="plugins-list">
        <div *ngIf="loading" class="loading-state">
            <ul>
                <li class="plugin-card" *ngFor="let i of [1, 2, 3, 4, 5]">
                    <div class="plugin-card__icon">
                        <img src="assets/images/plugin-icons/loading.png" alt="Loading..." />
                    </div>
                    <div class="plugin-card__text">
                        <h3>Loading...</h3>
                        <span>N/A</span>
                    </div>
                </li>
            </ul>
        </div>

        <ng-container *ngIf="!loading">
            <ng-scrollbar visibility="hover" orientation="vertical" position="invertY">
                <ul>
                    <li
                        *ngFor="let card of cards; let i = index"
                        class="plugin-card"
                        (click)="showPlugin(card)"
                        (keydown)="showPlugin(card)"
                        [ngClass]="{ 'plugin-card-highlight': activeCard === card }"
                        tabindex="0"
                        [tp]="tpl"
                        tpPlacement="right">
                        <div class="plugin-card__icon">
                            <img [src]="card.icon" alt="{{ card.icon_credit }}" (error)="onImageError($event)" />
                            <div class="plugin-card__icon-text">
                                <h5>{{ card.name }}</h5>
                            </div>
                        </div>
                        <div class="plugin-card__text">
                            <h3>{{ card.name }}</h3>
                            <span *ngIf="card.version && card.library_version"
                                >ver. {{ card.version }}/{{ card.library_version }}</span
                            >
                            <span *ngIf="!(card.version && card.library_version)">ver. 0.0.1/0.0.1</span>
                        </div>
                        <ng-template #tpl>
                            <span *ngIf="card.teaser">{{ card.teaser }}</span>
                        </ng-template>
                    </li>
                </ul>
            </ng-scrollbar>
        </ng-container>
    </div>
</div>
