@use 'spec/tools/rem' as *;

.driver-popover {
    max-width: rem(350);

    .driver-popover-title {
        font-family: Manrope;
        width: 100%;
    }

    .driver-popover-description {
        color: #111;
        font-family: Manrope;
        font-variation-settings: 'wght' 400;
        line-height: 1.6;
        padding-right: rem(15);
    }

    .driver-popover-prev-btn {
        @extend button, .btn-light !optional;
        @extend button, .btn-small !optional;

        text-shadow: none;

        &.driver-popover-btn-disabled {
            visibility: hidden;
        }
    }

    .driver-popover-next-btn {
        @extend button, .btn-alt !optional;
        @extend button, .btn-small !optional;

        text-shadow: none;
    }

    .driver-popover-close-btn {
        font-size: 1.7rem;
        right: rem(3);
        top: rem(10);
        z-index: 5;
    }

    &--loading {
        .driver-popover-footer {
            opacity: 0;
            pointer-events: none;
        }

        .driver-popover-loading-indicator {
            display: flex;
            justify-content: center;
            padding: rem(15) 0;
            position: absolute;
            width: calc(100% - 2.143rem);

            .driver-popover-spinner {
                animation: rotation 1s linear infinite;
                border: 3px solid #fff;
                border-bottom-color: #008080;
                border-radius: 50%;
                box-sizing: border-box;
                height: rem(22);
                width: rem(22);
            }
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
