button {
    cursor: pointer;
    display: flex;
    font-family: Manrope;

    &.btn-primary {
        background-color: #008080;
        border: 2px solid #008080;
        border-radius: 25px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 20px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(0 128 128 / 75%);
        }
    }

    &.btn-alt {
        background-color: #fff;
        border: 2px solid rgb(0 128 128 / 50%);
        border-radius: 25px;
        color: #008080;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 20px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(0 128 128 / 15%);
        }
    }

    &.btn-light {
        background-color: rgb(128 128 128 / 10%);
        border: 2px solid transparent;
        border-radius: 25px;
        color: #424242;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 20px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(128 128 128 / 20%);
        }
    }

    &.btn-small {
        font-size: 13px;
        padding: 5px 15px;
    }

    &.btn-withtext i-lucide {
        margin-right: 5px;
    }

    &.btn-onlyicon {
        align-items: center;
        background-color: rgb(255 255 255 / 75%);
        border: 1.5px solid #555;
        border-radius: 50%;
        color: #555;
        display: flex;
        height: 32.5px;
        justify-content: center;
        transition: background-color 0.15s ease-in-out;
        width: 32.5px;

        &:hover {
            background-color: #cddddc;
        }

        &.btn-onlyicon--cta {
            border: 1.5px solid #008080;
            color: #008080;
        }

        &.btn-onlyicon--large {
            height: 35px;
            width: 35px;
        }
    }

    &[disabled] {
        filter: grayscale(0.75);
        opacity: 0.5;
        pointer-events: none;
    }
}

i-lucide {
    display: inline-flex;
}

.toast-container {
    &.toast-bottom-center {
        margin-bottom: calc(25px + 0.5vw);

        .ngx-toastr {
            margin-bottom: 0;
            margin-top: 10px;
            width: 450px;
        }
    }

    &.toast-top-center {
        margin-top: calc(60px + 0.5vw);

        .ngx-toastr {
            margin-bottom: 10px;
            margin-top: 0;
            width: 450px;
        }
    }

    .ngx-toastr {
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        padding: 10px 25px 10px 50px;

        &:hover {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }

        &.toast-success {
            background-color: rgba(41, 124, 41, 0.75);
        }

        &.toast-error {
            background-color: rgba(156, 12, 5, 0.75);
        }

        &.toast-info {
            background-color: rgba(71, 115, 163, 0.75);
        }

        &.toast-warning {
            background-color: rgba(192, 112, 0, 0.75);
        }

        &.ngx-toastr--inverted {
            background-blend-mode: exclusion;
            background-color: rgba(255, 255, 255, 0.75);
            color: #111;

            & .toast-close-button {
                color: #666;
            }

            &.toast-success {
                border: 5px solid rgba(41, 124, 41, 0.75);
            }

            &.toast-error {
                border: 5px solid rgba(156, 12, 5, 0.75);
            }

            &.toast-info {
                border: 5px solid rgba(71, 115, 163, 0.75);
            }

            &.toast-warning {
                border: 5px solid rgba(192, 112, 0, 0.75);
            }
        }
    }

    button.toast-close-button {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

.cdk-overlay-dark-backdrop {
    backdrop-filter: grayscale(0.75) blur(5px);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px !important;
}
