button {
    cursor: pointer;
    display: flex;
    font-family: Manrope;

    &.btn-primary {
        background-color: #008080;
        border: 2px solid #008080;
        border-radius: 25px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 20px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(0 128 128 / 75%);
        }
    }

    &.btn-alt {
        background-color: #fff;
        border: 2px solid rgb(0 128 128 / 50%);
        border-radius: 25px;
        color: #008080;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 20px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(0 128 128 / 15%);
        }
    }

    &.btn-light {
        background-color: rgb(128 128 128 / 10%);
        border: 2px solid transparent;
        border-radius: 25px;
        color: #424242;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 20px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(128 128 128 / 20%);
        }
    }

    &.btn-small {
        font-size: 13px;
        padding: 5px 15px;
    }

    &.btn-withtext i-lucide {
        margin-right: 5px;
    }

    &.btn-onlyicon {
        align-items: center;
        background-color: rgb(255 255 255 / 75%);
        border: 1.5px solid #555;
        border-radius: 50%;
        color: #555;
        display: flex;
        height: 27.5px;
        justify-content: center;
        transition: background-color 0.15s ease-in-out;
        width: 27.5px;

        &:hover {
            background-color: #cddddc;
        }

        &.btn-onlyicon--cta {
            border: 1.5px solid #008080;
            color: #008080;
        }

        &.btn-onlyicon--large {
            height: 35px;
            width: 35px;
        }
    }

    &[disabled] {
        filter: grayscale(0.75);
        opacity: 0.5;
        pointer-events: none;
    }
}

i-lucide {
    display: inline-flex;
}

mat-snack-bar-container.mdc-snackbar {
    padding-bottom: 30px;
}

.cdk-overlay-dark-backdrop {
    backdrop-filter: grayscale(0.75) blur(5px);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px !important;
}
