@use 'spec/tools/rem' as *;

button {
    cursor: pointer;
    display: flex;
    font-family: Manrope;
    font-size: rem(14);

    &.btn-primary {
        background-color: #008080;
        border: 2px solid #008080;
        border-radius: 25px;
        color: #fff;
        font-weight: 500;
        padding: rem(10) rem(20);
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(0 128 128 / 75%);
        }
    }

    &.btn-alt {
        background-color: #fff;
        border: 2px solid rgb(0 128 128 / 50%);
        border-radius: 25px;
        color: #008080;
        font-weight: 500;
        padding: rem(10) rem(20);
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(0 128 128 / 15%);
        }
    }

    &.btn-light {
        background-color: rgb(128 128 128 / 10%);
        border: 2px solid transparent;
        border-radius: 25px;
        color: #424242;
        font-weight: 500;
        padding: rem(10) rem(20);
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(128 128 128 / 20%);
        }
    }

    &.btn-small {
        font-size: 0.9rem;
        padding: rem(5) rem(15);
    }

    &.btn-withtext--after,
    &.btn-withtext--before {
        align-items: center;
        display: flex;
    }

    &.btn-withtext--after i-lucide {
        margin-right: rem(5);
    }

    &.btn-withtext--before i-lucide {
        margin-left: rem(5);
    }

    &.btn-onlyicon {
        align-items: center;
        background-color: rgb(255 255 255 / 75%);
        border: 2px solid #555;
        border-radius: 50%;
        color: #555;
        display: flex;
        height: rem(33);
        justify-content: center;
        transition: background-color 0.15s ease-in-out;
        width: rem(33);

        &:hover {
            background-color: #cddddc;
        }

        &.btn-onlyicon--cta {
            border: 2px solid #008080;
            color: #008080;
        }

        &.btn-onlyicon--large {
            height: rem(35);
            width: rem(35);
        }
    }

    &[disabled] {
        filter: grayscale(0.75);
        opacity: 0.5;
        pointer-events: none;
    }
}

i-lucide {
    align-items: center;
    display: inline-flex;
}

.toast-container {
    &.toast-bottom-center {
        margin-bottom: calc(1.786rem + 0.5vw);

        .ngx-toastr {
            margin-bottom: 0;
            margin-top: rem(10);
            width: rem(450);
        }
    }

    &.toast-top-center {
        margin-top: calc(4.286rem + 0.5vw);

        .ngx-toastr {
            margin-bottom: rem(10);
            margin-top: 0;
            width: rem(450);
        }
    }

    .ngx-toastr {
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        padding: rem(10) rem(25) rem(10) rem(50);

        &:hover {
            box-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.1);
        }

        .toast-title {
            white-space: pre-line;
        }

        &.toast-success {
            background-color: rgba(41, 124, 41, 0.75);
        }

        &.toast-error {
            background-color: rgba(156, 12, 5, 0.75);
        }

        &.toast-info {
            background-color: rgba(71, 115, 163, 0.75);
        }

        &.toast-warning {
            background-color: rgba(192, 112, 0, 0.75);
        }

        &.ngx-toastr--inverted {
            background-blend-mode: exclusion;
            background-color: rgba(255, 255, 255, 0.75);
            color: #111;

            & .toast-close-button {
                color: #666;
            }

            &.toast-success {
                border: 5px solid rgba(41, 124, 41, 0.75);
            }

            &.toast-error {
                border: 5px solid rgba(156, 12, 5, 0.75);
            }

            &.toast-info {
                border: 5px solid rgba(71, 115, 163, 0.75);
            }

            &.toast-warning {
                border: 5px solid rgba(192, 112, 0, 0.75);
            }
        }
    }

    button.toast-close-button {
        position: absolute;
        right: rem(10);
        top: rem(5);
    }
}

.cdk-overlay-dark-backdrop {
    backdrop-filter: grayscale(0.75) blur(2.5px);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: #008080 !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #008080 !important;
}
