@use '../settings/baseColors';
@use '../settings/materialColors';

.checkbox label {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 1.214rem;
    position: relative;
    vertical-align: middle;
}

.checkbox label::before {
    background-color: materialColors.$md-white;
    border: 1px solid baseColors.$grey-300;
    border-radius: 3px;
    content: '';
    display: inline-block;
    height: 1.214rem;
    left: 0;
    margin-left: -0.857rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition:
        border 0.15s ease-in-out,
        color 0.15s ease-in-out;
    -o-transition:
        border 0.15s ease-in-out,
        color 0.15s ease-in-out;
    transition:
        border 0.15s ease-in-out,
        color 0.15s ease-in-out;
    width: 1.214rem;
}

.checkbox label::after {
    color: baseColors.$grey-500;
    display: inline-block;
    font-size: 0.7rem !important;
    height: 1.214rem;
    left: 0;
    line-height: 1.214rem;
    margin-left: -0.857rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 1.214rem;
}

.checkbox input[type='checkbox'] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type='checkbox']:focus + label::before {
    outline: thin dotted;
    outline: 0.357rem auto -webkit-focus-ring-color;
    outline-offset: -0.143rem;
}

.checkbox input[type='checkbox']:checked + label::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.9rem;
}

.checkbox input[type='checkbox']:disabled + label {
    opacity: 0.65;
}

.checkbox input[type='checkbox']:disabled + label::before {
    background-color: baseColors.$grey-400;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type='checkbox']:checked + label::before {
    background-color: baseColors.$default-primary;
    border-color: baseColors.$default-primary;
}

.checkbox-primary input[type='checkbox']:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type='checkbox']:checked + label::before {
    background-color: baseColors.$default-danger;
    border-color: baseColors.$default-danger;
}

.checkbox-danger input[type='checkbox']:checked + label::after {
    color: materialColors.$md-white;
}

.checkbox-info input[type='checkbox']:checked + label::before {
    background-color: baseColors.$default-info;
    border-color: baseColors.$default-info;
}

.checkbox-info input[type='checkbox']:checked + label::after {
    color: materialColors.$md-white;
}

.checkbox-warning input[type='checkbox']:checked + label::before {
    background-color: baseColors.$default-warning;
    border-color: baseColors.$default-warning;
}

.checkbox-warning input[type='checkbox']:checked + label::after {
    color: materialColors.$md-white;
}

.checkbox-success input[type='checkbox']:checked + label::before {
    background-color: baseColors.$default-success;
    border-color: baseColors.$default-success;
}

.checkbox-success input[type='checkbox']:checked + label::after {
    color: materialColors.$md-white;
}

.radio {
    padding-left: 1.429rem;
}

.radio label {
    display: inline-block;
    padding-left: 0.357rem;
    position: relative;
    vertical-align: middle;
}

.radio label::before {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 1.214rem;
    left: 0;
    margin-left: -1.429rem;
    position: absolute;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    width: 1.214rem;
}

.radio label::after {
    background-color: #555555;
    border-radius: 50%;
    content: ' ';
    display: inline-block;
    height: 0.786rem;
    left: 0.214rem;
    margin-left: -1.429rem;
    position: absolute;
    top: 0.214rem;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 0.786rem;
}

.radio input[type='radio'] {
    opacity: 0;
    z-index: 1;
}

.radio input[type='radio']:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type='radio']:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type='radio']:disabled + label {
    opacity: 0.65;
}

.radio input[type='radio']:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type='radio'] + label::after {
    background-color: #428bca;
}

.radio-primary input[type='radio']:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type='radio']:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type='radio'] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type='radio']:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type='radio']:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type='radio'] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type='radio']:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type='radio']:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type='radio'] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type='radio']:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type='radio']:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type='radio'] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type='radio']:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type='radio']:checked + label::after {
    background-color: #5cb85c;
}
