header {
    width: 100vw;
    z-index: 2;

    .header-container {
        align-items: center;
        display: flex;
        height: $header-height;
        justify-content: space-between;

        .heigit-logo__wrapper {
            flex-basis: 0;
            flex-grow: 1;

            img.heigit-logo {
                height: 35px;
                margin-left: 25px;
            }
        }

        .ca-logo {
            cursor: pointer;
            height: 37.5px;
            margin-bottom: 2.5px;
        }

        app-account {
            flex-basis: 0;
            flex-grow: 1;
        }
    }

    .search-box {
        .search-icon-close {
            display: none;
        }

        &.active {
            .search-icon {
                display: none;
            }

            .search-icon-close {
                display: inline-block;
            }
        }
    }

    .search-input {
        display: none;

        &.active {
            display: inline-block;
        }

        input {
            background-color: transparent;
            border: 0;
            box-shadow: none;
            font-size: 18px;
            height: 40px;
            margin-top: 12px;
            outline: none;
            padding: 5px;

            @include to($breakpoint-sm) {
                width: 85px;
            }

            @include placeholder {
                color: lighten($default-text-color, 20%);
                font-style: italic;
            }
        }
    }
}

// ---------------------------------------------------------
// @Collapsed State
// ---------------------------------------------------------

.is-collapsed {
    .header {
        width: calc(100% - #{$collapsed-size});

        @include to($breakpoint-md) {
            width: 100%;
        }

        @include between($breakpoint-md, $breakpoint-xl) {
            // width: calc(100% - #{$offscreen-size});
            width: calc(100% - #{$collapsed-size});
        }
    }
}
