@use 'sass:color';
@use '../settings/baseColors';
@use '../settings/breakpoints';
@use '../tools/mixins/mediaQueriesRanges';
@use '../tools/mixins/placeholder';

header {
    width: 100vw;
    z-index: 2;

    .header-container {
        align-items: center;
        display: flex;
        height: baseColors.$header-height;
        justify-content: space-between;

        .heigit-logo__wrapper {
            flex-basis: 0;
            flex-grow: 1;

            img.heigit-logo {
                height: 35px;
                margin-left: 25px;
            }
        }

        .ca-logo {
            cursor: pointer;
            height: 37.5px;
            margin-bottom: 2.5px;
        }

        .header-right {
            align-items: center;
            display: flex;
            flex-basis: 0;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }

    .search-box {
        .search-icon-close {
            display: none;
        }

        &.active {
            .search-icon {
                display: none;
            }

            .search-icon-close {
                display: inline-block;
            }
        }
    }

    .search-input {
        display: none;

        &.active {
            display: inline-block;
        }

        input {
            background-color: transparent;
            border: 0;
            box-shadow: none;
            font-size: 18px;
            height: 40px;
            margin-top: 12px;
            outline: none;
            padding: 5px;

            @include mediaQueriesRanges.to(breakpoints.$breakpoint-sm) {
                width: 85px;
            }

            @include placeholder.placeholder {
                color: color.adjust(baseColors.$default-text-color, $lightness: 20%);
                font-style: italic;
            }
        }
    }
}

// ---------------------------------------------------------
// @Collapsed State
// ---------------------------------------------------------

.is-collapsed {
    .header {
        width: calc(100% - #{baseColors.$collapsed-size});

        @include mediaQueriesRanges.to(breakpoints.$breakpoint-md) {
            width: 100%;
        }

        @include mediaQueriesRanges.between(breakpoints.$breakpoint-md, breakpoints.$breakpoint-xl) {
            // width: calc(100% - #{$offscreen-size});
            width: calc(100% - #{baseColors.$collapsed-size});
        }
    }
}
