# See http://help.github.com/ignore-files/ for more about ignoring files.

# Logs
logs
*.log

# compiled output
/dist
/tmp
/tmp-webapp
/out-tsc
.angular

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/.angular

# e2e
/e2e/*.js
/e2e/*.map
cypress/screenshots/*
cypress/snapshots/actual/*
cypress/snapshots/diff/*
cypress/downloads/*

# System Files
.DS_Store
Thumbs.db

# Environment Variables
/src/assets/env.js