<div class="search-locations__wrapper">
    <form (ngSubmit)="onInputEnter(); $event.preventDefault()">
        <input
            class="search-locations"
            name="search-locations"
            type="search"
            [placeholder]="'search.placeholder' | transloco"
            [formControl]="searchControl"
            (focus)="onInputFocus()"
            (blur)="onInputBlur()"
            (keydown.enter)="onInputEnter(); $event.preventDefault()"
            spellcheck="false" />
        <button class="clear-search" (click)="clearSearch()">
            <i-lucide [img]="CircleX" size="20" [title]="'search.clearSearch' | transloco"></i-lucide>
        </button>
    </form>

    @if (suggestions.length > 0 && isInputFocused) {
        <div class="location-suggestions">
            <ng-scrollbar orientation="vertical">
                @for (suggestion of suggestions; track suggestion) {
                    <div
                        class="location-suggestion__item"
                        (mousedown)="selectSuggestion(suggestion)"
                        (click)="selectSuggestion(suggestion)"
                        (keyup.enter)="selectSuggestion(suggestion)"
                        (mouseover)="this.mapService.addMarker(suggestion)"
                        (focus)="this.mapService.addMarker(suggestion)"
                        tabindex="0">
                        <span
                            [innerHTML]="
                                suggestion.properties.name || ('search.unknownLocation' | transloco)
                                    | highlight: searchControl.value
                            "
                            class="suggestion__title"></span
                        ><br />
                        <span class="suggestion__subtitle">{{ formatLocation(suggestion) }}</span>
                    </div>
                }
            </ng-scrollbar>
        </div>
    }
    @if (suggestions.length === 0 && !isSearchInputEmpty && !isFetchingSuggestions && isInputFocused) {
        <div class="location-suggestions location-suggestions--empty">
            <p>{{ 'search.noSuggestions' | transloco }}</p>
        </div>
    }
</div>
