@use 'spec/tools/rem' as *;

.search-locations__wrapper {
    position: relative;
    text-align: right;
    width: rem(250);
    z-index: 2;

    ng-scrollbar {
        max-height: rem(500);
    }

    form {
        position: relative;

        input.search-locations {
            background-image: url('../../../assets/images/search.svg');
            background-position: rem(8) center;
            background-repeat: no-repeat;
            background-size: rem(18);
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 1.15rem;
            padding: rem(8) rem(30);
            position: relative;
            transition: width 0.25s ease;
            width: 75%;
            z-index: 1;

            &:focus,
            &:not(:placeholder-shown) {
                width: 100%;
            }

            &:placeholder-shown ~ button.clear-search {
                visibility: hidden;
            }

            &::-webkit-search-cancel-button {
                display: none;
            }
        }

        button.clear-search {
            background-color: transparent;
            border: none;
            position: absolute;
            right: 0;
            top: rem(7);
            z-index: 2;
        }
    }

    .location-suggestions {
        backdrop-filter: blur(5px);
        background-color: rgb(255 255 255 / 85%);
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: rem(-10);
        overflow-y: auto;
        padding-top: rem(10);
        text-align: left;
        width: 100%;

        &.location-suggestions--empty {
            color: #666;
            text-align: center;
        }
    }

    .location-suggestion__item {
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        line-height: rem(18);
        padding: rem(10);

        &:last-of-type {
            border-bottom: none;
        }

        &:hover,
        &:focus {
            background-color: #def0ff;
        }

        .suggestion__title {
            font-weight: 700;

            ::ng-deep {
                mark {
                    background-color: rgba(0 128 128 / 15%);
                }
            }
        }

        .suggestion__subtitle {
            color: #666;
            font-size: 0.85rem;
        }
    }
}
