<div class="mX-5 p-10 bgc-white bd">
    <div class="container">
        
        <h2>Sponsors Organisations</h2>
        <img ngSrc="../../assets/images/HeiGIT_Logo_compact_transparent.svg" alt="Logo of HeiGIT"
             class="partner-logo m-5" height="139" width="500">
        <h2>Contact</h2>
        <p>
            HeiGIT gGmbH<br>
            Heidelberg, Germany<br>
            Email: <a href="mailto:climate-action@heigit.org">climate-action@heigit.org</a><br>
            Web: <a href="https://heigit.org/">https://heigit.org/</a>
        </p>
    </div>
</div>
