@use 'spec/tools/rem' as *;

.artifact-container {
    backdrop-filter: blur(15px);
    background-color: rgb(255 255 255 / 85%);
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    pointer-events: all;
    position: absolute;
    width: 100%;
    z-index: 3;

    @media (min-width: 1800px) {
        height: 90%;
        right: 5%;
        top: 5%;
        width: 90%;
    }

    &.minimised {
        height: rem(48);
        left: 20%;
        margin-top: calc(98vh - 9.5rem);
        top: 0;
        width: 60%;
    }

    .artifact-header {
        align-items: center;
        background-color: rgba(240, 248, 255, 0.5);
        display: flex;
        padding: rem(10);

        .artifact-name {
            margin: 0 rem(8);
        }

        .artifact-window-controls {
            display: flex;
            margin-left: auto;

            .minimise-btn {
                border-color: #666;
                color: #666;
                margin-right: rem(8);

                &:hover {
                    background-color: #e5e5e5;
                }
            }

            .close-btn {
                border-color: #666;
                color: #666;

                &:hover {
                    background-color: #ffd8d8;
                }
            }
        }
    }
}
