<div [class.minimised]="artifactViewerService.minimised" class="artifact-container">
    <div class="artifact-header">
        <h3 class="artifact-name">{{ artifactViewerService.name }}</h3>
        <div class="artifact-window-controls">
            <button
                (click)="toggleMinimise()"
                class="minimise-btn btn-onlyicon"
                [tp]="
                    artifactViewerService.minimised
                        ? ('artifactViewer.maximize' | transloco)
                        : ('artifactViewer.minimize' | transloco)
                ">
                @if (artifactViewerService.minimised) {
                    <i-lucide [img]="Maximize2" size="15"></i-lucide>
                } @else {
                    <i-lucide [img]="Minimize2" size="15"></i-lucide>
                }
            </button>
            <button
                (click)="closeArtifactViewer()"
                class="close-btn btn-onlyicon"
                [tp]="'artifactViewer.close' | transloco">
                <i-lucide [img]="X" size="15"></i-lucide>
            </button>
        </div>
    </div>
    <app-artifact [enableMapHost]="true"></app-artifact>
</div>
