<div [class.minimised]="artifactViewerService.minimised" class="artifact-container">
    <div class="artifact-header">
        <h3 class="artifact-name">{{ artifactViewerService.name }}</h3>
        <div class="artifact-window-controls">
            <button
                (click)="toggleMinimise()"
                class="minimise-btn btn-onlyicon"
                [tp]="
                    artifactViewerService.minimised
                        ? ('artifactViewer.maximize' | transloco)
                        : ('artifactViewer.minimize' | transloco)
                ">
                @if (artifactViewerService.minimised) {
                    <svg lucideMaximize2 size="15"></svg>
                } @else {
                    <svg lucideMinimize2 size="15"></svg>
                }
            </button>
            <button
                (click)="closeArtifactViewer()"
                class="close-btn btn-onlyicon"
                [tp]="'artifactViewer.close' | transloco">
                <svg lucideX size="15"></svg>
            </button>
        </div>
    </div>
    <app-artifact [enableMapHost]="true"></app-artifact>
</div>
