<div class="language-container">
    <div class="language-dropdown">
        <button #langTrigger class="language-button" (click)="toggleLanguageMenu()">
            <i-lucide [img]="Languages" size="17.5" color="#008080"></i-lucide>
            <span class="current-lang">{{ currentLang.toUpperCase() }}</span>
        </button>
        <ng-template
            [appDropdownMenu]="langTrigger"
            [dropdownOpen]="languageMenuOpen"
            (dropdownClosed)="closeLanguageMenu()">
            <div class="language-menu">
                <button
                    class="language-menu__item"
                    [class.active]="currentLang === supportedLanguages.EN"
                    (click)="selectLanguage(supportedLanguages.EN)">
                    EN - {{ getLanguageLabel(supportedLanguages.EN) }}
                </button>
                <button
                    class="language-menu__item"
                    [class.active]="currentLang === supportedLanguages.DE"
                    (click)="selectLanguage(supportedLanguages.DE)">
                    DE - {{ getLanguageLabel(supportedLanguages.DE) }}
                </button>
            </div>
        </ng-template>
    </div>
</div>
