@use 'spec/tools/rem' as *;

.language-container {
    border-left: 1px solid #aaa;
    display: flex;
    justify-content: flex-end;
    padding: 0 rem(30) 0 rem(7.5);
    position: relative;
}

.language-dropdown {
    display: inline-block;
    position: relative;

    .language-button {
        align-items: center;
        background: none;
        border: none;
        border-radius: 50%;
        color: #008080;
        cursor: pointer;
        display: flex;
        font-size: 0.85rem;
        font-variation-settings: 'wght' 600;
        height: rem(45);
        justify-content: center;
        position: relative;
        transition: all 0.2s;
        width: rem(45);

        &:hover {
            background-color: rgb(0 128 128 / 15%);
        }

        &:before {
            border: 2px solid #008080;
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: 26px;
            left: 7.5px;
            position: absolute;
            top: 7.5px;
            width: 26px;
        }

        svg {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .current-lang {
            background: #008080;
            border-radius: 50%;
            color: #fff;
            font-size: 0.8rem;
            letter-spacing: rem(0.5);
            padding: rem(4);
            position: absolute;
            right: rem(-5);
            top: 0;
        }
    }
}
