.language-container {
    border-left: 1px solid #aaa;
    display: flex;
    justify-content: flex-end;
    padding: 0 2.143rem 0 0.571rem;
    position: relative;
}

.language-dropdown {
    display: inline-block;
    position: relative;

    .language-button {
        align-items: center;
        background: none;
        border: none;
        border-radius: 50%;
        color: #008080;
        cursor: pointer;
        display: flex;
        font-size: 0.85rem;
        font-variation-settings: 'wght' 600;
        height: 3.214rem;
        justify-content: center;
        transition: all 0.2s;
        width: 3.214rem;

        &:hover {
            background-color: rgb(0 128 128 / 15%);
        }

        i-lucide {
            align-items: center;
            border: 0.214rem solid #008080;
            border-radius: 50%;
            display: flex;
            height: 1.929rem;
            justify-content: center;
            width: 1.929rem;
        }

        .current-lang {
            background: #008080;
            border-radius: 50%;
            color: #fff;
            font-size: 0.8rem;
            letter-spacing: 0.036rem;
            padding: 0.286rem;
            position: absolute;
            right: -0.357rem;
            top: 0;
        }
    }
}
