.page-not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.page-not-found img {
    height: auto;
    width: 10%;
}

.page-not-found div {
    font-size: large;
}
