:host ::ng-deep {
    .dialog-window {
        padding: 20px;

        & * {
            font-family: Manrope !important;
        }

        h2 {
            margin: 0;
        }

        button.close-dialog {
            background: #fff;
            border: none;
            border-radius: 50%;
            color: #666;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 17.5px;
        }

        .ng-scrollbar {
            max-height: 40vh;
        }

        .optional-attributes {
            --mat-form-field-container-height: 48px;
            --mat-form-field-filled-with-label-container-padding-top: 20px;
            --mat-form-field-filled-with-label-container-padding-bottom: 6px;
            --mat-form-field-container-vertical-padding: 12px;

            mat-form-field {
                margin-bottom: 12px;
            }
        }

        .dialog-window-buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 20px;
        }
    }
}
