.table-report-item {
  max-width: 50rem;
  margin: 0 auto;

  table.report-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  
    & thead {
  
      & tr {
        border-bottom: 2px solid #ddd;
      }
    }

    & tbody {

      & tr {
        border-bottom: 1px solid #ddd;
      }
    }

    & th,
    & td {
      padding: .5rem 1rem;
      text-align: left;
      font-size: 12px;
    }
  }
}