<div class="mX-5 p-10 bgc-white bd h-100p artifact-list">
  <!-- manual ordered list artifacts -->
  <ul class="list-group artifact-effect">
    <li *ngFor="let artifact of artifacts" class="list-group-item d-flex justify-content-between align-items-start artifact-effect"
        (click)="addArtifactToReport(artifact)">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{artifact.name}}</div>
        {{artifact.summary}}
      </div>
      <span class="badge text-bg-light"><i class="{{artifact.icon}}"></i></span>
    </li>
  </ul>
</div>
