.app-container {
    display: flex;
    overflow: hidden;
    z-index: 1;

    router-outlet {
        display: contents;
    }
}

my-account {
    flex-basis: 0;
    flex-grow: 1;
}

app-dashboard {
    overflow: hidden;
    position: relative;
    width: 100%;
}

footer {
    align-items: center;
    background: white;
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
    width: 100vw;

    .demo-info {
        color: #d60039;
        float: right;
        margin: 0 20px;
    }

    .about-info {
        float: left;
        margin: 0 20px;
    }
}
