.page-container {
    background-image: linear-gradient(45deg, #e7e7e7c9, #ededed80);
    display: grid;
    grid-template-rows: 60px calc(100vh - 85px) 25px;
    height: 100vh;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    z-index: 1;

    router-outlet {
        display: contents;
    }
}

my-account {
    flex-basis: 0;
    flex-grow: 1;
}

app-dashboard {
    overflow: hidden;
    position: relative;
    width: 100%;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
    width: 100vw;

    .demo-info {
        color: #d60039;
        float: right;
        margin: 0 20px;
    }

    .about-info {
        float: left;
        margin: 0 20px;
    }
}
