.child-computations-wrapper {
    overflow: hidden;

    .child-computations {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 5px 0 10px;
        overflow: hidden;

        &:has(.loading) {
            cursor: wait;

            .child-computation {
                pointer-events: none;
            }
        }

        .child-computation {
            align-items: center;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            display: flex;
            padding: 10px;
            position: relative;
            transition: background-color 0.15s ease-in-out;

            &:hover {
                background-color: #d3d3d3;
            }

            &:last-of-type {
                border-bottom: none;
            }

            &.child-computation-highlight {
                background-color: lightskyblue;
            }

            .mat-icon {
                align-items: center;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                font-size: 16px;
                justify-content: center;
                margin-right: 15px;
                padding: 10px;
            }

            .loading-circle {
                animation: rotation 1s linear infinite;
                border: 2.5px solid #fff;
                border-bottom-color: #008080;
                border-radius: 50%;
                box-sizing: border-box;
                display: inline-block;
                height: 24px;
                margin-left: auto;
                width: 24px;
            }

            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    button.show-more,
    button.show-less {
        margin: 0 auto 10px;
    }
}
