.markdown-artifact-item {
    > * {
        margin-left: auto;
        margin-right: auto;
        max-width: 50rem;
    }

    table {
        width: 100%;

        th {
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            padding: 0.571rem;
        }

        td {
            border: 1px solid #ddd;
            padding: 0.571rem;
        }
    }

    ul,
    ol {
        list-style: revert;
        padding-left: 1.429rem;
    }

    pre {
        background-color: #f5f5f5;
        padding: 0.714rem;
    }

    p:has(img) {
        img {
            max-width: 100%;
        }
    }
}
