<div class="toast-container position-fixed top-0 end-0 p-3" [class.hide]="!toastVisible">
    <div id="liveToast" class="toast" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header" [ngClass]="'text-bg-'+type">
            <strong class="me-auto">{{title}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="hideToast()"></button>
        </div>
        <div class="toast-body">
            {{body}}
        </div>
    </div>
</div>