.peers {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex !important;
    flex-flow: row wrap;
    height: auto;
    justify-content: flex-start;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

.peer {
    display: block;
    flex: 0 0 auto;
    height: auto;
}

.peer-greed {
    flex: 1 1 auto;
    // overflow: hidden;
}

.peers-greed > .peer,
.peers-greed > .peers {
    flex: 1 1 auto;
}

.peer > img {
    max-width: none;
}

.peer-greed > img {
    max-width: 100%;
}
