// ---------------------------------------------------------
// @Greyscale Colors (lightest to darkest)
// ---------------------------------------------------------

$grey-300: #e6eaf0;
$grey-400: #d3d9e3;
$grey-500: #b9c2d0;

// ---------------------------------------------------------
// @Default Colors
// ---------------------------------------------------------

$default-danger: #ff3c7e;
$default-dark: #313435;
$default-info: #0f9aee;
$default-primary: #7774e7;
$default-success: #37c936;
$default-text-color: #72777a;
$default-warning: #fc0;

// ---------------------------------------------------------
// @Others
// ---------------------------------------------------------

$border-color: rgba(0, 0, 0, 0.0625);
$collapsed-size: 70px;
