@font-face {
    font-family: Manrope;
    font-weight: normal;
    font-display: swap;
    src: url('../../../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Manrope;
    font-weight: 600;
    font-display: swap;
    src: url('../../../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Manrope;
    font-weight: 300;
    font-display: swap;
    src: url('../../../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Manrope;
    font-weight: 100;
    font-display: swap;
    src: url('../../../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

$font-primary:
    Manrope,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    sans-serif;
$font-size-base: 0.875rem;
