<div class="bd mY-2 table-artifact-item">
    @if (csvData.length > 0) {
        <table class="artifact-table table-bordered table-hover bgc-white">
            <thead>
                @for (record of csvData | slice: 0 : 1; track record) {
                    <tr>
                        @for (field of record | keyvalue; track field) {
                            <th>
                                <strong>{{ field.value }}</strong>
                            </th>
                        }
                    </tr>
                }
            </thead>
            <tbody class="table-group-divider">
                @for (record of csvData | slice: 1; track record) {
                    <tr>
                        @for (field of record | keyvalue; track field) {
                            <td>{{ field.value }}</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (csvData.length === 0) {
        <div>No CSV data available.</div>
    }
</div>
