.table-artifact-item {
    margin: 0 auto;
    max-width: 50rem;

    table.artifact-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        & thead {
            & tr {
                border-bottom: 2px solid #ddd;
            }
        }

        & tbody {
            & tr {
                border-bottom: 1px solid #ddd;
            }
        }

        & th,
        & td {
            font-size: 12px;
            padding: 0.5rem 1rem;
            text-align: left;
        }
    }
}
