<div class="welcome-container">
	<div class="welcome-content">
		<h1>Welcome to the HeiGIT <br />Climate Action Dashboard</h1>

		<div class="image-slideshow">
			<div class="image-slideshow__inner">
				<img src="../../../assets/images/landing/amsterdam.jpg" alt="Amsterdam; Credit: https://unsplash.com/@jacegrandinetti">
				<img src="../../../assets/images/landing/kenya.jpg" alt="Kenya; Credit: https://unsplash.com/@davidclode">
				<img src="../../../assets/images/landing/vietnam.jpg" alt="Bali; Credit: https://unsplash.com/@nathan_cima">
			</div>
		</div>
		  
		<p>Make informed decisions about climate action in your community. This app provides high-resolution data and analysis on key climate indicators, from energy sources to transportation options. Discover local strengths, identify areas for improvement, and explore tailored solutions for a more sustainable future.</p>
		<button class="btn-primary btn-withtext" (click)="explorePlugins()">Explore our plugins to get started!</button>
	</div>
</div>