main.dashboard {
    display: grid;
    grid-template-columns: auto 425px 1fr 15%;
    height: 100%;
    position: relative;
    grid-gap: 0.5vw;
    padding: 0.5vw;
    width: 100vw;

    @media (max-width: 1600px) {
        grid-template-columns: auto 400px 1fr 12.5%;
    }

    app-map {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .dashboard__middle-column {
        pointer-events: none;
        position: relative;
    }

    .dashboard__right-column {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        ::ng-deep {
            app-legend {
                margin-top: 40px;
            }
        }
    }
}
