<main class="dashboard">
    <app-map></app-map>

    <div
        class="dashboard__left-column"
        [ngClass]="{ collapsed: leftColumnCollapsed, 'report-visible': isReportVisible }"
        (mouseenter)="onMouseEnterLeftColumn()"
        (mouseleave)="onMouseLeaveLeftColumn()">
        <app-plugin-catalog></app-plugin-catalog>
        <router-outlet></router-outlet>
    </div>
    <div class="dashboard__middle-column">
        <app-artifact-viewer [hidden]="!artifactViewerService.isViewerVisible"></app-artifact-viewer>
    </div>
    <div class="dashboard__right-column">
        <app-search></app-search>
        <div #legendContainer></div>
    </div>
</main>

<app-report></app-report>
