main.dashboard {
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 25%);
    display: grid;
    grid-template-columns: auto 1fr 15%;
    height: 100%;
    position: relative;
    grid-gap: 0.5vw;
    margin: 0 0.5vw;
    overflow: hidden;
    padding: 0.5vw;
    width: 99vw;

    @media (max-width: 1600px) {
        grid-template-columns: auto 1fr 12.5%;
    }

    app-map {
        background: linear-gradient(40deg, #fdfdfd9e 0%, #00000057 100%), url('../../assets/images/dot-grid.png');
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .dashboard__left-column {
        display: flex;
        position: relative;
        transition: transform 0.2s ease-in-out;
        z-index: 5;

        ::ng-deep {
            app-landing {
                align-items: center;
                display: flex;
                height: calc(100% - 1vw);
                justify-content: center;
                width: calc(100vw - (120px + 1.5vw));
            }
        }

        .left-column-collapser {
            background-color: #fff;
            cursor: pointer;
            position: absolute;
            right: -15px;
            top: 17.5px;
        }

        &.collapsed {
            transform: translateX(-500px);
        }
    }

    .dashboard__middle-column {
        pointer-events: none;
        position: relative;
    }

    .dashboard__right-column {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        ::ng-deep {
            app-legend {
                margin-top: 40px;
            }
        }
    }
}
