main.dashboard {
    background-color: #111;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 25%);
    display: grid;
    grid-template-columns: auto 1fr 15%;
    height: 100%;
    position: relative;
    grid-gap: 0.5vw;
    margin: 0 0.5vw;
    overflow: hidden;
    padding: 0.5vw;
    width: 99vw;

    @media (max-width: 1600px) {
        grid-template-columns: auto 1fr 12.5%;
    }

    .map-background {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.3s ease;
        width: 100%;

        &[data-style='ESRI World Imagery'] {
            background-image: url('../../assets/images/stars-bg.jpg');
            background-position: center;
            background-size: cover;
            mix-blend-mode: exclusion;
            opacity: 0.35;
        }

        &[data-style='Colorful'] {
            background: linear-gradient(40deg, #fdfdfd9e 0%, #00000057 100%), url('../../assets/images/dot-grid.png');
            opacity: 1;
        }

        &[data-style='Graybeard'] {
            background: linear-gradient(40deg, #4444449e 0%, #0000007d 100%), url('../../assets/images/dot-grid.png');
            opacity: 1;
        }
    }

    app-map {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .dashboard__left-column {
        display: flex;
        pointer-events: none;
        position: relative;
        transition: transform 0.2s ease-in-out;
        z-index: 5;

        ::ng-deep {
            app-landing {
                align-items: center;
                display: flex;
                height: 100%;
                justify-content: center;
                width: calc(100vw - (270px + 1.5vw));
            }
        }

        &.collapsed {
            transform: translateX(-500px);
        }
    }

    .dashboard__middle-column {
        pointer-events: none;
        position: relative;
    }

    .dashboard__right-column {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        ::ng-deep {
            app-legend {
                &:first-of-type {
                    margin-top: 85px;
                }

                &:not(:first-of-type) {
                    margin-top: 10px;
                }
            }
        }
    }
}
