@use 'assets/styles/index';
@use 'assets/styles/maplibre';
@use 'ngx-scrollbar' as scrollbar;

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/material.css';
@import 'maplibre-gl/dist/maplibre-gl.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.markdown table {
    @extend .table !optional;
}

.tippy-content {
    font-size: 14px;
    max-width: 350px;

    p {
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 0;
    }
}

:root {
    @include scrollbar.ng-scrollbar-overrides(
        (
            track-hover-thickness: 10px,
            track-color: rgba(0, 0, 0, 0.05),
            track-shape: 10px,
            thumb-color: rgba(0, 0, 0, 0.3)
        )
    );
}
