/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/index';
@use 'assets/styles/maplibre';

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/material.css';
@import 'maplibre-gl/dist/maplibre-gl.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.markdown table {
    @extend .table !optional;
}

.tippy-content {
    font-size: 14px;

    p {
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 0;
    }
}
