:root {
    --header-and-footer: 75px;

    --bubble-gradient-0: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
    --bubble-gradient-1: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
    --bubble-gradient-2: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
    --bubble-gradient-3: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
    --bubble-gradient-4: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
    --bubble-gradient-5: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
    --bubble-gradient-6: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
    --bubble-gradient-7: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
    --bubble-gradient-8: linear-gradient(135deg, #c2ffd8 10%, #465efb 100%);
    --bubble-gradient-9: linear-gradient(135deg, #65fdf0 10%, #1d6fa3 100%);
}
