:root {
	--header-and-footer: 75px;

	--bubble-gradient-0: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
	--bubble-gradient-1: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
	--bubble-gradient-2: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
	--bubble-gradient-3: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
	--bubble-gradient-4: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);
	--bubble-gradient-5: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
	--bubble-gradient-6: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);
	--bubble-gradient-7: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
	--bubble-gradient-8: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
	--bubble-gradient-9: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
}