<div class="p-10 bgc-white bd h-100p artifact-tree">
    <h3 class="mx-2">Artifacts</h3>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node;when: isParent" class="mat-tree-parent-node run-card">
            <div class="mX-20">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name" *ngIf="node.expandable">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <button mat-icon-button disabled *ngIf="!node.expandable" aria-label="Expand node"></button>
            </div>
            <div class="card-header">
                <h3>{{node.name}}</h3>
                <p class="card-subtitle m-0">{{node.timestamp}}</p>
                <p class="card-subtitle m-0">{{node.uuid}}</p>
            </div>
            <mat-icon aria-hidden="false"
                      aria-label="Run progress"
                      fontIcon="{{node.icon}}"
                      class="run-status mL-a mR-30"
                      matTooltip="{{node.status}}"/>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                       class="mat-tree-child-node"
                       (click)="renderReport(node); storeActivatedRef(node)"
                       (keydown)="renderReport(node); storeActivatedRef(node)"
                       [ngClass]="{ 'mat-tree-child-node-highlight': activeNode === node }"
                       tabindex="0">
            <div class="mL-35">
                <div matTooltip="{{node.summary}}"
                     matTooltipPosition="right">
                    <mat-icon aria-hidden="false" aria-label="Artifact" fontIcon="{{node.icon}}"/>
                    <div>{{node.name}}</div>
                </div>
            </div>
        </mat-tree-node>
    </mat-tree>
</div>
