<div class="pX-20 pY-10 bgc-white bd h-100p artifact-tree">
    <div class="artifact-tree__header align-items-center">
        <h3 class="mx-2">Artifacts</h3>
        <div class="archive-dropdown">
            <button class="archive-dropdown-toggle" id="btnArchivedArtifacts" aria-expanded="false" (click)="onClick()" [tuiDropdown]="archivedArtifactsContent" [tuiDropdownManual]="open" (tuiActiveZoneChange)="onActiveZone($event)" tuiDropdownAlign="right" title="Archived Artifacts">
                <i class="ti-archive"></i>
            </button>
            <ng-template #archivedArtifactsContent>
                <ul class="archive-dropdown-menu" aria-labelledby="btnArchivedArtifacts">
                    <li class="pX-20 pY-15 bdB">
                        <i class="ti-archive pR-10"></i>
                        <span class="fsz-sm fw-600 c-grey-900">Archived Artifacts</span>
                    </li>
                    <ng-container *ngIf="archivedArtifacts.length === 0; else archivedItems">
                        <p class="empty-archive">No archived artifacts found.</p>
                    </ng-container>
                    <ng-template #archivedItems>
                        <li *ngFor="let archivedArtifact of archivedArtifacts; let i = index;" class="mat-list-item">
                            <div class="archived-item">
                                <div>
                                    <h4>{{ archivedArtifact.pluginName }} ({{ archivedArtifact.status }})</h4>
                                    <div style="color: gray">{{ formatTimestamp(archivedArtifact.timestamp) || '' }}</div>
                                    <div style="color: gray">{{ archivedArtifact.correlation_uuid }}</div>
                                </div>
                                <button (click)="unarchiveArtifact(archivedArtifact.correlation_uuid)" aria-label="Un-archive Artifact" matTooltip="Un-archive Artifact" class="pX-5 pY-3">
                                    <i class="ti-notepad"></i> Un-archive
                                </button>
                            </div>
                        </li>
                    </ng-template>
                </ul>
            </ng-template>
        </div>
    </div>

    <div class="artifact-tree-content">
        <div *ngFor="let node of nodes" class="artifact-node">
            <div class="artifact-parent-node node-{{ node.isExpanded ? 'expanded' : 'collapsed' }}" [ngClass]="{'not-expandable': node.children.length === 0}" (click)="toggleNode(node)" (keydown)="toggleNode(node)" tabindex="0">
                <div class="node-arrow">
                    <mat-icon aria-hidden="true" fontIcon="chevron_right"></mat-icon>
                </div>
                <div class="card-header">
                    <h3>{{node.name}}</h3>
                    <p class="card-subtitle m-0">{{formatTimestamp(node.timestamp || '')}}</p>
                    <p class="card-subtitle m-0">{{node.uuid}}</p>
                </div>
                <button (click)="archiveArtifact(node.uuid)" aria-label="Archive Artifact" matTooltip="Archive Artifact" class="pX-5 pY-3 mL-a archive-artifact">
                    <i class="ti-archive"></i> Archive
                </button>
                <mat-icon aria-hidden="false" aria-label="Run progress" fontIcon="{{node.icon}}" class="run-status mL-10 mR-30" matTooltip="{{node.status}}"></mat-icon>
            </div>
            <div [@expandCollapse]="node.isExpanded ? 'expanded' : 'collapsed'" class="artifact-child-nodes-wrapper" (@expandCollapse.done)="onAnimationEvent($event, node)">
                <div *ngIf="node.isExpanded || node.keepInDOM" class="artifact-child-nodes">
                    <ng-container *ngFor="let child of node.children; let i = index">
                        <div *ngIf="child.ref?.primary || node.showSecondaryChildren" [@fadeIn]="node.showSecondaryChildren || child.ref?.primary ? 'in' : null" class="artifact-child-node" (click)="renderReport(child); storeActivatedRef(child)" (keydown)="renderReport(child); storeActivatedRef(child)" [ngClass]="{ 'artifact-child-node-highlight': activeNode === child, 'primary-child': child.ref?.primary, 'secondary-child': !child.ref?.primary }" matTooltip="{{child.summary}}"matTooltipPosition="right" tabindex="0">
                            <mat-icon aria-hidden="false" aria-label="Artifact" fontIcon="{{child.icon}}"></mat-icon>
                            <div>{{child.name}}</div>
                        </div>
                    </ng-container>
                    <button *ngIf="!node.showSecondaryChildren && hasSecondaryChildren(node)" class="show-more" (click)="showMore(node)" (keydown)="showMore(node)" @fadeIn tabindex="0">
                        Show more...
                    </button>
                    <button *ngIf="node.showSecondaryChildren && hasSecondaryChildren(node)" class="show-less" (click)="showLess(node)" (keydown)="showLess(node)" @fadeIn tabindex="0">
                        Show less...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>