.artifact-tree {
  overflow-y: scroll;
  height: 100%;

  .artifact-tree__header {
    display: flex;
    align-items: center;

    .archive-dropdown {
      margin-left: auto;

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }

  .artifact-node {

    &:not(:first-child) {
      margin-top: 15px;
    }

    .artifact-parent-node {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      padding: 10px 0;
      width: 100%;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: #d3d3d3;

        button.archive-artifact {
          visibility: visible;
        }
      }

      &.not-expandable {
        cursor: default;
        pointer-events: none;

        & .node-arrow {
          visibility: hidden;
        }
      }

      .node-arrow {
        margin: 0 20px;

        mat-icon {
          transition: transform 0.3s ease-in-out;
        }
      }

      &.node-expanded {

        .node-arrow mat-icon {
          transform: rotate(90deg);
        }
      }

      .card-header {
        
        h3 {
          margin-bottom: 5px;
          margin-top: 0;
        }
        
        .card-subtitle {
          font-size: small;
          color: gray;
        }
      }

      button.archive-artifact {
        cursor: pointer;
        margin-left: auto;
        visibility: hidden;
      }    
    }

    .artifact-child-nodes-wrapper {
      overflow: hidden;

      .artifact-child-nodes {
        display: grid;
        grid-gap: 2px;
        margin-top: 2px;
        grid-auto-rows: 50px;
  
        .artifact-child-node {
          align-items: center;
          border-left: 5px solid deepskyblue;
          display: flex;
          background-color: #ededed;
          padding: 15px;
          cursor: pointer;
          transition: background-color 0.15s ease-in-out;
  
          &:hover {
            background-color: #d3d3d3;
          }

          &.artifact-child-node-highlight {
            background-color: lightskyblue;
          }

          .mat-icon {
            margin: 0 25px 0 10px;
          }

          &.secondary-child {
            border-left-color: lightblue;
          }
        }

        button.show-more,
        button.show-less {
          border: 1px solid lightblue;
          cursor: pointer;
          background-color: #fdfdfd;
          width: 125px;
          margin: 0 auto;
          border-radius: 50px;
          height: 35px;
          margin-top: 5px;

          &:hover {
            background-color: #ededed;
          }
        }
      }
    }
  }
}

.archive-dropdown-menu {
  
  .mat-list-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    
    .archived-item {
      align-items: center;
      display: flex;
      justify-content: space-between;
  
      h4 {
        margin-top: 0;
        margin-bottom: 5px;
      }
  
      button {
        cursor: pointer;
        margin-left: 15px;
      }
    }
  }
  
  p.empty-archive {
    padding: 20px;
    margin: 0;
  }
}