<div class="account-container">
    <ng-container *ngIf="!user">
        <div class="login-container">
            <button *ngIf="!environment.production" (click)="loginAsFakeUser()" class="fake-user-button">
                Login (as Fake User)
                <i-lucide [img]="TestTubeDiagonal" size="27.5" color="#e78400"></i-lucide>
            </button>
            <a type="button" class="profile-button" [href]="getAppwriteUrl('/login?redirect=' + getRedirectUrl())">
                Login
                <i-lucide [img]="LogIn" size="27.5" color="#008080"></i-lucide>
            </a>
        </div>
    </ng-container>
    <ng-container *ngIf="user">
        <div class="account-menu">
            <button class="profile-button" (click)="toggleAccountMenu()">
                Account
                <i-lucide [img]="SquareUserRound" size="27.5" color="#008080"></i-lucide>
            </button>
            <div
                class="account-menu__content"
                [class.show]="accountMenuOpen"
                (mouseleave)="closeAccountMenu()"
                (mouseenter)="cancelAccountMenuClose()">
                <div class="user-info">
                    <div class="name">{{ user.name }}</div>
                    <div class="email">{{ user.email }}</div>
                </div>
                <div class="divider"></div>
                <a [href]="getAppwriteUrl('/manage/profile')" class="account-menu__item" target="_blank">
                    <i-lucide [img]="User" size="20"></i-lucide>
                    Edit Profile
                </a>
                <a [href]="getAppwriteUrl('/manage/key')" class="account-menu__item" target="_blank">
                    <i-lucide [img]="Percent" size="20"></i-lucide>
                    View Usage
                </a>
                <div class="divider"></div>
                <button class="account-menu__item" (click)="startTour()">
                    <i-lucide [img]="Footprints" size="20"></i-lucide>
                    Start Walkthrough
                </button>
                <a href="mailto:climateactionnavigator@heigit.org" class="account-menu__item" target="_blank">
                    <i-lucide [img]="LifeBuoy" size="20"></i-lucide>
                    Support
                </a>
                <button (click)="logout()" class="account-menu__item logout-button">
                    <i-lucide [img]="Logout" size="20"></i-lucide>
                    Logout
                </button>
            </div>
        </div>
    </ng-container>
</div>
