<div class="account-container">
    @if (!user) {
        <div class="login-container">
            @if (environment.environmentType === 'development' || environment.environmentType === 'testing') {
                <button (click)="loginAsFakeUser()" class="fake-user-button">
                    {{ 'account.loginFakeUser' | transloco }}
                    <i-lucide [img]="TestTubeDiagonal" size="27.5" color="#e78400"></i-lucide>
                </button>
            }
            <a type="button" class="profile-button" [href]="getAppwriteUrl('/login?redirect=' + getRedirectUrl())">
                {{ 'account.login' | transloco }}
                <i-lucide [img]="LogIn" size="30" color="#008080"></i-lucide>
            </a>
        </div>
    }
    @if (user) {
        <div class="account-menu__wrapper">
            <button #accountTrigger class="profile-button" (click)="toggleAccountMenu()">
                {{ 'account.account' | transloco }}
                <i-lucide [img]="CircleUserRound" size="33" color="#008080"></i-lucide>
            </button>
            <ng-template
                [appDropdownMenu]="accountTrigger"
                [dropdownOpen]="accountMenuOpen"
                (dropdownClosed)="closeAccountMenu()">
                <div class="account-menu">
                    <div class="user-info">
                        <div class="name">{{ user.name }}</div>
                        <div class="email">{{ user.email }}</div>
                    </div>
                    <div class="divider"></div>
                    <a [href]="getAppwriteUrl('/manage/profile')" class="account-menu__item" target="_blank">
                        <i-lucide [img]="User" size="20"></i-lucide>
                        {{ 'account.editProfile' | transloco }}
                    </a>
                    <a [href]="getAppwriteUrl('/manage/key')" class="account-menu__item" target="_blank">
                        <i-lucide [img]="Percent" size="20"></i-lucide>
                        {{ 'account.viewUsage' | transloco }}
                    </a>
                    <div class="divider"></div>
                    <button class="account-menu__item" (click)="startTour()">
                        <i-lucide [img]="Footprints" size="20"></i-lucide>
                        {{ 'account.startWalkthrough' | transloco }}
                    </button>
                    <a href="mailto:climateactionnavigator@heigit.org" class="account-menu__item" target="_blank">
                        <i-lucide [img]="LifeBuoy" size="20"></i-lucide>
                        {{ 'account.support' | transloco }}
                    </a>
                    <button (click)="logout()" class="account-menu__item logout-button">
                        <i-lucide [img]="Logout" size="20"></i-lucide>
                        {{ 'account.logout' | transloco }}
                    </button>
                </div>
            </ng-template>
        </div>
    }
</div>
