<div class="artifact" id="artifact-page">
    <ng-scrollbar>
        @if (showAccordion && modality === 'MARKDOWN') {
            <div class="artifact-meta">
                @if (summary) {
                    <mat-expansion-panel class="artifact-abstract">
                        <mat-expansion-panel-header>{{ 'artifact.abstract' | transloco }}</mat-expansion-panel-header>
                        {{ summary }}
                    </mat-expansion-panel>
                }
            </div>
        }

        @if (modality === 'TABLE') {
            <div class="artifact-meta">
                <p class="table-summary">
                    <span>{{ summary }}</span>
                </p>
            </div>
        }

        <ng-container #container></ng-container>

        @if (modality !== 'MARKDOWN') {
            <div class="artifact-meta">
                @if (modality !== 'TABLE') {
                    <p class="artifact-summary">
                        <span>{{ summary }}</span>
                    </p>
                }
            </div>
        }
    </ng-scrollbar>
</div>
