.artifact {
    line-height: 1.4;
    padding: 10px 15px;
    position: relative;
    transition: 0.3s ease;
}

.artifact-meta {
    margin: 20px auto 0;
    max-width: 50rem;
    padding-bottom: 20px;

    p.artifact-summary,
    p.table-summary {
        margin-bottom: 0;
        text-align: center;

        span {
            display: inline-block;
            text-align: left;
        }
    }

    p.artifact-summary {
        padding: 0 1.25rem;
    }

    .artifact-description,
    .artifact-abstract {
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        border-top: 1px solid #ccc;
        box-shadow: none;
        display: block;
        margin-top: 20px;

        .mat-expansion-panel-header {
            font-size: 13px;
        }
    }
}
