<div class="artifact" id="artifact-page">
    <ng-scrollbar>
        <div *ngIf="showAccordion && modality === 'MARKDOWN'" class="artifact-meta">
            <mat-expansion-panel *ngIf="summary" class="artifact-abstract">
                <mat-expansion-panel-header>{{ 'artifact.abstract' | transloco }}</mat-expansion-panel-header>
                {{ summary }}
            </mat-expansion-panel>
        </div>

        <div *ngIf="modality === 'TABLE'" class="artifact-meta">
            <p class="table-summary">
                <span>{{ summary }}</span>
            </p>
        </div>

        <ng-container #container></ng-container>

        <div *ngIf="modality !== 'MARKDOWN'" class="artifact-meta">
            <p *ngIf="modality !== 'TABLE'" class="artifact-summary">
                <span>{{ summary }}</span>
            </p>
            <div *ngIf="showAccordion">
                <mat-expansion-panel *ngIf="description" class="artifact-description">
                    <mat-expansion-panel-header>{{
                        'artifact.detailedDescription' | transloco
                    }}</mat-expansion-panel-header>
                    <app-markdown [rawMarkdown]="description"></app-markdown>
                </mat-expansion-panel>
            </div>
        </div>
    </ng-scrollbar>
</div>
