<div class="artifact-tree">
    <div class="artifact-tree__header">
        <h2 class="mx-2"><span *ngIf="showArchived">Archived </span>Reports</h2>
        <button class="archive-dropdown-toggle" (click)="toggleArchivedView()">
            <i-lucide *ngIf="!showArchived" [img]="Archive" size="20" tp="Archived Artifacts"></i-lucide>
            <i-lucide *ngIf="showArchived" [img]="CircleArrowLeft" size="20" tp="Back to all reports"></i-lucide>
        </button>
    </div>

    <div class="artifact-tree-content">
        <div *ngIf="(computations | filterByCriteria: pluginId).length === 0 && (scheduledRuns | filterByCriteria: pluginId).length === 0 && !showArchived" class="empty-computations">
            <p>No reports found.</p>
        </div>
        
        <div *ngIf="!showArchived && ((computations | filterByCriteria: pluginId).length > 0 || (scheduledRuns | filterByCriteria: pluginId).length > 0)" class="computations-container">
            <ng-scrollbar visibility="hover" orientation="vertical">
                <div *ngFor="let scheduledRun of scheduledRuns" class="scheduled-computation">
                    <div class="scheduled-parent-computation">
                        <div class="card-header">
                            <h3>{{scheduledRun.aoiName}}</h3>
                            <p class="card-subtitle m-0"><i-lucide [img]="Clock" size="12"></i-lucide> {{formatTimestamp(scheduledRun.timestamp) || ''}} • Scheduled</p>
                        </div>
                        <div  class="scheduled-run-dot"></div>
                    </div>
                </div>
                <div *ngFor="let computation of computations | filterByCriteria: pluginId" class="artifact-computation">
                    <div [ngClass]="{
                        'artifact-parent-computation': true,
                        'computation-expanded': computation.isExpanded,
                        'computation-collapsed': !computation.isExpanded,
                        'is-new': newRuns.includes(computation.uuid),
                        'no-results': computation.status === 'no-results',
                        'not-expandable': computation.children.length === 0
                    }" (click)="toggleComputation(computation)" (keyup.enter)="toggleComputation(computation)" tabindex="0">
                        <div class="computation-arrow">
                            <mat-icon *ngIf="computation.children.length > 0" aria-hidden="true" fontIcon="chevron_right"></mat-icon>
                            <div *ngIf="computation.status === 'no-results'" class="no-results-alert">
                                <i-lucide [img]="FileWarning" size="25" [strokeWidth]="1.5" color="#ff8c00"></i-lucide>
                            </div>
                        </div>
                        <div class="card-header">
                            <h3>{{computation.aoiName}}</h3>
                            <p class="card-subtitle m-0"><i-lucide [img]="Clock" size="12"></i-lucide> {{formatTimestamp(computation.timestamp || '')}} • <i-lucide [img]="Hash" size="12"></i-lucide>{{formatUUID(computation.uuid)}}</p>
                        </div>
                        <button (click)="archiveArtifact(computation.uuid)" aria-label="Archive Artifact" tp="Archive Artifact" class="pX-5 pY-3 mL-a mR-5 archive-artifact btn-onlyicon">
                            <i-lucide [img]="Archive" size="15"></i-lucide>
                        </button>
                        <div *ngIf="newRuns.includes(computation.uuid)" class="new-run-dot"></div>
                    </div>
                    <div [@expandCollapse]="computation.isExpanded ? 'expanded' : 'collapsed'" class="artifact-child-computations-wrapper" (@expandCollapse.done)="onAnimationEvent($event, computation)">
                        <div *ngIf="computation.isExpanded || computation.keepInDOM">
                            <ul *ngIf="computation.children.length > 0" class="artifact-child-computations">
                                <ng-container *ngFor="let child of computation.children; let i = index">
                                    <li *ngIf="child.ref?.primary || computation.showSecondaryChildren"
                                        [@fadeIn]="computation.showSecondaryChildren || child.ref?.primary ? 'in' : null"
                                        class="artifact-child-computation"
                                        (click)="renderReport(child); storeActivatedRef(child)"
                                        (keyup.enter)="renderReport(child); storeActivatedRef(child)"
                                        [ngClass]="{ 'artifact-child-computation-highlight': activeChildComputation === child, 'primary-child': child.ref?.primary, 'secondary-child': !child.ref?.primary }"
                                        tp="{{child.summary}}" tpPlacement="right"
                                        tabindex="0">
                                        <mat-icon aria-hidden="false" aria-label="Artifact" fontIcon="{{child.icon}}"></mat-icon>
                                        <div>{{child.name}}</div>
                                    </li>
                                </ng-container>
                            </ul>
                            <button *ngIf="!computation.showSecondaryChildren && hasSecondaryChildren(computation)" class="show-more btn-alt btn-small" (click)="showMore(computation)" (keyup.enter)="showMore(computation)" @fadeIn tabindex="0">
                                Show more...
                            </button>
                            <button *ngIf="computation.showSecondaryChildren && hasSecondaryChildren(computation)" class="show-less btn-alt btn-small" (click)="showLess(computation)" (keyup.enter)="showLess(computation)" @fadeIn tabindex="0">
                                Show less...
                            </button>
                            <div *ngIf="computation.children.length === 0" class="no-results-message">
                                This run created no results. If you think that is an error, please contact the plugin developers.
                            </div>
                        </div>
                    </div>
                </div>
            </ng-scrollbar>
        </div>

        <div *ngIf="showArchived" class="archive-container">
            <ng-container *ngIf="archivedArtifacts.length === 0; else archivedItems">
                <div class="empty-archive">
                    <p>No archived reports found.</p>
                </div>
            </ng-container>
            <ng-template #archivedItems>
                <ng-scrollbar visibility="hover" orientation="vertical">
                    <ul class="archive-list">
                        <li *ngFor="let archivedArtifact of archivedArtifacts | filterByCriteria: pluginId; let i = index;" class="archived-computation">
                            <div class="archived-item">
                                <div>
                                    <h4>{{archivedArtifact.aoiName}}</h4>
                                    <p class="card-subtitle m-0"><i-lucide [img]="Clock" size="12"></i-lucide> {{formatTimestamp(archivedArtifact.timestamp || '')}} • <i-lucide [img]="Hash" size="12"></i-lucide>{{formatUUID(archivedArtifact.correlation_uuid)}}</p>
                                </div>
                                <button (click)="unarchiveArtifact(archivedArtifact.correlation_uuid)" aria-label="Un-archive Report" tp="Un-archive Artifact" class="pX-5 pY-3 btn-onlyicon">
                                    <i-lucide [img]="ArchiveRestore" size="15"></i-lucide>
                                </button>
                            </div>
                        </li>
                    </ul>
                </ng-scrollbar>
            </ng-template>
        </div>
    </div>
</div>